page-login {
  .login-page {
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    overflow: visible;

    $text-input-ios-background-color: transparent;
  }
}

