<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button small (click)="editProfile()">Edit Profile Image</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button  small (click)="signOut()">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<div>
  <ion-segment [(ngModel)]="view">
    <ion-segment-button value="profile">
      Profile
    </ion-segment-button>
    <ion-segment-button value="users">
      Users
    </ion-segment-button>
  </ion-segment>

</div>

<div [ngSwitch]="view">

  <ion-list *ngSwitchCase="'users'">
    <ion-list>
      <div *ngFor="let user of firebaseRef | async">
        <ion-item *ngIf="user.$key !== currentUser.uid">
          <ion-thumbnail item-left>
            <img [src]="user.photoURL">
          </ion-thumbnail>
          <h2>{{user.nickname}}</h2>
          <button ion-button clear item-right (click)="showUserBeer(user)">User Beers</button>
        </ion-item>
      </div>

      <!--<ion-item *ngFor="let beer of userBeers | async">-->
        <!--<ion-avatar item-left>-->
          <!--<img [src]="beer.logoSmall">-->
        <!--</ion-avatar>-->
        <!--<h2>{{ beer.name }}</h2>-->
        <!--<p>{{ beer.description }}</p>-->
        <!--<button ion-button clear item-right (click)="showInfo(beer)">View</button>-->
        <!--<button ion-button clear item-right (click)="removeBeer(beer.$key)">Delete</button>-->
      <!--</ion-item>-->
    </ion-list>
  </ion-list>

  <ion-list *ngSwitchCase="'profile'">
    <ion-item>
      <ion-thumbnail item-left>
        <img [src]="currentUser.photoURL">
      </ion-thumbnail>
      <h2>{{currentUser.displayName}}</h2>
      <p>{{ (userBeers | async)?.length }} Beers Saved</p>
    </ion-item>
    <ion-item *ngFor="let beer of userBeers | async">
      <ion-avatar item-left>
        <img [src]="beer.logoSmall">
      </ion-avatar>
      <h2>{{ beer.name }}</h2>
      <p>{{ beer.description }}</p>
      <button ion-button clear item-right (click)="showInfo(beer)">View</button>
      <button ion-button clear item-right (click)="removeBeer(beer.$key)">Delete</button>
    </ion-item>
  </ion-list>
</div>

</ion-content>

