
<ion-content padding-top>
  <ion-list>
    <ion-item *ngFor="let beer of userBeers | async">
      <ion-thumbnail item-left>
        <img src="{{ beer.logo }}">
      </ion-thumbnail>
      <h2>{{ beer.name }}</h2>
      <p>{{ beer.description }}</p>
      <button ion-button clear item-right (click)="showInfo(beer)">View</button>
      <button ion-button clear item-right (click)="removeBeer(beer.$key)">Delete</button>
    </ion-item>
  </ion-list>
</ion-content>




<!--<ion-list>-->
  <!--<ion-item *ngFor="let beer of userBeers | async">-->
    <!--<h2 text-center>{{ beer.name }}</h2>-->
    <!--<img src="{{ beer.logo }}" alt="Beer Label">-->
    <!--<p>{{ beer.description }}</p>-->

  <!--</ion-item>-->
<!--</ion-list>-->
