
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text>Back</span>
      </button>
    </ion-buttons>



  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img [src]="post.userImg">
      </ion-avatar>
      <h2>{{ post.user }}</h2>
      <p>{{ post.when }}</p>
    </ion-item>

    <img [src]="post.URL">

    <ion-card-content>
      <p>{{ post.description }}</p>
    </ion-card-content>

  </ion-card>

  <ion-list>
    <ion-item *ngFor="let comment of comments | async">
      <ion-avatar item-left>
        <img [src]="comment.userImg">
      </ion-avatar>
      <h2>{{comment.user}}</h2>
      <p>{{comment.comment}}</p>
    </ion-item>
  </ion-list>

  <ion-list>

    <!--<ion-item>-->
      <!--<ion-input type="text" placeholder="Add comment" [(ngModel)]="comment" ></ion-input>-->
    <!--</ion-item>-->

    <ion-item>
      <ion-label stacked>Comment:</ion-label>
      <ion-textarea [(ngModel)]="comment"></ion-textarea>
    </ion-item>

    <!--<ion-item>-->
      <!--<ion-label floating>Description</ion-label>-->
      <!--<ion-textarea></ion-textarea>-->
    <!--</ion-item>-->

    <button *ngIf="comment" margin-left ion-button icon-left small (click)="addComment(comment)">
      <ion-icon name="add-circle"></ion-icon>
      Add Comment
    </button>

  </ion-list>




</ion-content>
